@mixin flexSetup($justify: center, $align: center, $direction: row) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
  flex-direction: $direction;
}

@mixin fixedPositionSetup($left: 0%, $top: 0%, $width: 100%, $height: 100%) {
  position: fixed;
  left: $left;
  top: $top;
  width: $width;
  height: $height;
}

@mixin desktop($desktop: $desktop) {
  @media (min-width: #{$desktop}) {
    @content;
  }
}

@mixin contentContainerSetup(
  $minHeight: 94%,
  $padding: 5% 0 0 0,
  $textAlign: center
) {
  min-height: $minHeight;
  padding: $padding;
  text-align: $textAlign;
}

@mixin contentDiv($minHeight: 400px, $maxWidth: 50%) {
  min-height: $minHeight;
  max-width: $maxWidth;
  min-width: 250px;
  box-shadow: 0 0 0 1px color(contentDivShadowOpLow),
    0 2px 5px color(contentDivShadowOpMax),
    inset 0 -1px 2px color(contentDivShadowOpMid);
  padding: $padding * 5 $padding * 5 $padding * 5;
  border-radius: $borderRadius * 4;
  margin: $sideAutoMargin;
  background-color: color(white);
  opacity: 0.8;
}

// @include flexCenterExample(parameters)
// @extend form; - inheritance from form and you can change specific props if you want
