$colors: (
  button: blue,
  buttonOnHover: green,
  buttonDisabled: grey,
  formButtonDark: #055a81,
  formButtonLight: #1da5c7,
  formButtonTextShadow: #13506d,
  formButtonText: #fff,
  formButtonBorder: #0f799e,
  formButtonShadow: #7bdcf4,
);

$inputShadowColor: rgba(0, 0, 0, 0.18);
$inputBorderColor: #cbcbcb;

// ::after {
//     content: hello;
// }
