$colors: (
  anchorBasic: black,
  anchorHover: white,
  anchorBackgroundHover: black,
  button: blue,
  buttonOnHover: green,
  buttonDisabled: grey,
  formButtonDark: #055a81,
  formButtonLight: #1da5c7,
  formButtonTextShadow: #13506d,
  formButtonText: #fff,
  formButtonBorder: #0f799e,
  formButtonShadow: #7bdcf4,
  socialButton: #444,
  socialButtonBorder: grey,
  socialButtonShadow: grey,
  socialButtonBackground: white,
  contentDivBackground: rgba(255, 255, 255, 0.8),
  contentDivShadowOpLow: rgba(14, 41, 57, 0.12),
  contentDivShadowOpMax: rgba(14, 41, 57, 0.44),
  contentDivShadowOpMid: rgba(14, 41, 57, 0.15),
  inputBorderColor: #cbcbcb,
  inputShadowColor: rgba(0, 0, 0, 0.18),
  emailTableBorder: #3a3a3a,
  emailTableRowBackground: rgba(255, 255, 255, 0.6),
  emailTableThLetterAsc: black,
  emailTableThLetterDesc: black,
  emailTableThBackground: #6c7ae0,
  emailTableTbodyOnHover: #a8b0f0,
  emailTableTbodyBorder: #9ea8f0,
  emailTableThFontColor: white,
  scrollbarThumb: lightgrey,
);

$fullWidth: 100%;
$fullHeight: 100%;
$notFullHeight: 94%;
$borderRadius: 5px;
$padding: 5px;
$upDownMargin: 10px auto; //maybe 1-2em instead?
$simpleMargin: 10px;
$sideAutoMargin: 0 auto;
$scrollbarWidth: 10px;
$desktop: 900px;

$socialButtonSpanSize: 42px;

$footerHeight: 6%;
$footerNotFullMargin: 10.1%;

$headerHeight: 6%;

$emailPageHeaderHeights: 60px;
$writeEmailButtonWidth: 75px;

$formButtonWidth: 100px;
$formButtonSize: 1.1em;

$navbarWidth: 10%;
$navbarButtonWidth: 75px;

//ul -> list-style-type: none
//margin: max(40px)
//height: fit-content???
//display: grid
//grid-template-areas: 'bla bla . . .'
//grid-area: bla - on an item  makes it occupy 2 grids
