$buttonColor: blue;
$buttonOnHoverColor: green;
$buttonDisabledColor: grey;

$formButtonColor: (
  dark: #055a81,
  light: #1da5c7,
);
$formButtonTextShadowColor: #13506d;
$formButtonTextColor: #fff;
$formButtonBorderColor: #0f799e;
$formButtonShadowColor: #7bdcf4;

$inputShadowColor: rgba(0, 0, 0, 0.18);
$inputBorderColor: #cbcbcb;

// ::after {
//     content: hello;
// }
