.email_container {
  @include contentContainerSetup($notFullHeight, 0 1% 1% 11%);
}

.table_style {
  thead th:first-child {
    border-radius: $borderRadius * 3 0 0 0;
  }

  thead th:last-child {
    border-radius: 0 $borderRadius * 3 0 0;
  }

  tbody tr:last-child td:first-child {
    border-radius: 0 0 0 $borderRadius * 3;
  }

  tbody tr:last-child td:last-child {
    border-radius: 0 0 $borderRadius * 3 0;
  }

  .asc {
    color: color(emailTableThLetterAsc);
  }

  .desc {
    color: color(emailTableThLetterDesc);
  }

  thead th {
    min-height: 9%;
    padding: $padding;
    background-color: color(emailTableThBackground);
    color: color(emailTableThFontColor);
  }

  thead th.asc::after {
    content: "↓";
    display: inline-block;
    margin-left: 1em;
  }

  thead th.desc::after {
    content: "↑";
    display: inline-block;
    margin-left: 1em;
  }

  tbody tr {
    background-color: color(emailTableRowBackground);
    &:hover {
      background-color: color(emailTableTbodyOnHover);
    }
  }

  tbody td {
    height: $padding * 15;
    text-align: left;
    padding: $padding;
    border: 1px solid emailTableTbodyBorder;
  }
}

.email_content_container {
  @include contentDiv(600px, 1200px);
  opacity: 1;
  background-color: transparent;
  padding: 0;

  > div:first-of-type {
    width: $fullWidth;
    height: $emailPageHeaderHeights;
    @include flexSetup(center, center, row);
    font-weight: bold;
    color: color(emailTableThFontColor);
    background-color: color(emailTableThBackground);
    border-radius: $borderRadius * 3 $borderRadius * 3 0 0;
  }

  > div:not(:first-of-type) {
    width: $fullWidth;
    height: $emailPageHeaderHeights * 9;
    @include flexSetup(flex-start, center, row);
    padding: $padding;
    background-color: color(emailTableRowBackground);
    border-radius: 0 0 $borderRadius * 3 $borderRadius * 3;

    // Email Write component
    .email_inputs {
      height: $fullWidth;
      width: 300px;
      @include flexSetup(space-evenly, center, column);
      padding: $padding * 3;

      > div {
        @include flexSetup(space-evenly, flex-end, column);
      }
    }

    > div:last-child {
      width: $fullWidth;
      @include flexSetup(space-evenly, center, row);
      padding: $padding;
    }
  }
}

.email_addresses {
  @include flexSetup(flex-start, center, row);
  flex-wrap: wrap;
  padding: $padding;
}
.email_address_container {
  margin: 1px;
  border: 1px solid black;
  border-radius: $borderRadius;
  background: white;
  font-size: 0.8em;
}

#email_editor {
  padding: 0;
  margin: 0;

  button {
    margin: 0;
    min-width: 20px;
    border-radius: 0%;
  }

  .tox-statusbar__branding {
    display: none;
  }

  .tox-menubar {
  }
}
