#content_div_login {
  @include contentDiv(400px, 40%);
  @include desktop() {
    padding: $padding * 5 $padding * 15 $padding * 5;
  }
}

#content_div_login > div {
  @include flexSetup(space-between, center, column);
  padding: $padding;

  a {
    padding: $padding * 2;
    &:hover {
      background-color: transparent;

      > div {
        color: color(anchorBasic);
      }
    }
  }

  @include desktop($desktop * 1.8) {
    padding: $padding * 5;
    flex-direction: row;
  }
}

#google_icon {
  background: url("/src/components/images/Google.jpg") transparent 50% no-repeat;
  background-size: cover;
}

#github_icon {
  background: url("/src/components/images/Github.png") transparent 50% no-repeat;
  background-size: cover;
  background-origin: content-box;
  padding: $padding;
}

.content_div_social {
  @include contentDiv(200px, 25%);
}
