.login_container {
  min-height: 94%;
  padding-top: 5%;
  text-align: center;
}

#content_div_login {
  @include contentDiv();
}

#content_div_login > div {
  padding: $padding * 5;
  @include flexSetup(space-between);
}

#google_icon {
  background: url("/src/components/images/Google.jpg") transparent 50% no-repeat;
  background-size: cover;
}

#github_icon {
  background: url("/src/components/images/Github.png") transparent 50% no-repeat;
  background-size: cover;
  background-origin: content-box;
  padding: $padding;
}

.content_div_social {
  @include contentDiv(200px, 25%);
}
