#content_div_main {
  @include contentDiv(400px, 30%, $borderRadius * 12);
  margin: -3% auto 3% auto;
  background: color(white);
  text-align: left;
  padding-left: 4%;

  > h4 {
    margin: 10px auto;
    text-align: center;
  }
  > p {
    margin: 10px auto;
  }
}
