#content_div_weather {
  @include contentDiv(300px, 1200px + $padding * 45);

  > div:first-child {
    margin: $padding * 2;
    font-weight: bold;
  }

  > div:nth-child(3) {
    @include flexSetup(space-between, center, row);

    > div > div {
      padding: $padding;
      font-weight: bold;
    }
  }
}

#content_div_weather_cards {
  @include flexSetup(flex-start, stretch, row);
  flex-wrap: wrap;
}
.weather_card {
  height: 300px;
  width: 150px;
  box-shadow: 0 0 0 1px color(contentDivShadowOpLow),
    0 2px 5px color(contentDivShadowOpMax),
    inset 0 -1px 2px color(contentDivShadowOpMid);
  padding: $padding * 5 $padding * 5 $padding * 5;
  border-radius: $borderRadius * 4;
  margin: $padding * 2;
  background-color: color(contentDivBackground);
  font-size: 0.9em;

  > div:nth-child(1),
  div:nth-child(4) {
    font-weight: bold;
    font-size: 1.2em;
  }

  > div:nth-child(2) {
    margin: 10px -10px;
  }
}
