{
    "clientApiKey" : "724688854076-ou1acbgrcampkq6fcg8ljvpm02jl1s3k.apps.googleusercontent.com",
    "googleLoginCallback": "http://homeoffice.com/api/auth/google-callback",
    "googleLogin": "http://homeoffice.com/api/auth/google-redirect",
    "githubLoginCallback": "http://homeoffice.com/api/auth/github-callback",
    "githubLogin": "http://homeoffice.com/api/auth/github-redirect"
}