{
    "googleLoginCallback": "http://homeoffice.com/api/auth/google-callback",
    "googleLogin": "http://homeoffice.com/api/auth/google-redirect",
    "githubLoginCallback": "http://homeoffice.com/api/auth/github-callback",
    "githubLogin": "http://homeoffice.com/api/auth/github-redirect",
    "mails": "http://homeoffice.com/api/mail",
    "mailsWithOptions": "http://homeoffice.com/api/mail/options",
    "simpleLogin": "http://homeoffice.com/api/login",
    "simpleRegistration": "http://homeoffice.com/api/registration/simple",
    "actualLocalWeather": "http://homeoffice.com/api/local_weather"
}