{
    "googleLoginCallback": "http://homeoffice.com/api/auth/google-callback",
    "googleLogin": "http://homeoffice.com/api/auth/google-redirect",
    "githubLoginCallback": "http://homeoffice.com/api/auth/github-callback",
    "githubLogin": "http://homeoffice.com/api/auth/github-redirect"
}