button {
  cursor: pointer;
  outline: none;
}

a.button_text {
  display: inline-block;
  font-weight: bold;
}

form > button {
  background: linear-gradient(
    to bottom,
    color(formButtonDark) 5%,
    color(formButtonLight) 100%
  );
  width: 100px;
  font-weight: bold;
  font-size: 1.1em;
  color: color(formButtonText);
  box-shadow: inset 0 1px 0 0 color(formButtonShadow);
  border: 1px solid color(formButtonBorder);
  border-radius: $borderRadius;
  padding: $padding;
  text-shadow: 0 1px 0 color(formButtonTextShadow);
  margin: $upDownMargin;
  &:hover {
    background: linear-gradient(
      to bottom,
      color(formButtonLight) 5%,
      color(formButtonDark) 100%
    );
  }
}
