button {
  cursor: pointer;
  outline: none;
}

form > button {
  background: linear-gradient(
    to bottom,
    color(formButtonDark) 5%,
    color(formButtonLight) 100%
  );
  box-shadow: inset 0 1px 0 0 color(formButtonShadow);
  border: 1px solid color(formButtonBorder);
  border-radius: 5px;
  color: color(formButtonText);
  font-weight: bold;
  font-size: 1.1em;
  padding: 5px;
  text-shadow: 0 1px 0 color(formButtonTextShadow);
  width: 100px;
  margin: 10px auto;
  &:hover {
    background: linear-gradient(
      to bottom,
      color(formButtonLight) 5%,
      color(formButtonDark) 100%
    );
  }
}
