button {
  cursor: pointer;
  outline: none;
}

a.button_text {
  display: inline-block;
  font-weight: bold;
}

form > button {
  background: linear-gradient(
    to bottom,
    color(formButtonDark) 5%,
    color(formButtonLight) 100%
  );
  width: $formButtonWidth;
  font-weight: bold;
  font-size: $formButtonSize;
  color: color(formButtonText);
  box-shadow: inset 0 1px 0 0 color(formButtonShadow);
  border: 1px solid color(formButtonBorder);
  border-radius: $borderRadius;
  padding: $padding;
  text-shadow: 0 1px 0 color(formButtonTextShadow);
  margin: $upDownMargin;
  &:hover {
    background: linear-gradient(
      to bottom,
      color(formButtonLight) 5%,
      color(formButtonDark) 100%
    );
  }
}

.social_button {
  display: inline-block;
  background: color(socialButtonBackground);
  color: color(socialButton);
  padding: $padding;
  border-radius: $borderRadius;
  border: thin solid color(socialButtonBorder);
  box-shadow: 1px 1px 1px color(socialButtonShadow);
  white-space: nowrap;
}

.social_button span {
  display: inline-block;
  vertical-align: middle;
  width: $socialButtonSpanSize;
  height: $socialButtonSpanSize;
}

.email_content_container {
  button {
    border-radius: $borderRadius;
    padding: $padding * 2;
    min-width: $writeEmailButtonWidth;
    font-weight: bold;
    margin: $padding;
  }
}

.email_address_container {
  .delete_button {
    padding: 1px;
    min-width: 0;
    margin: 1px;
    border-width: 1px;
    font-weight: normal;
    &:hover {
      color: red;
      font-weight: bold;
    }
  }
}
