.loading_container {
  min-height: $notFullFixHeightContent;
  @include flexSetup(center, center, row);
}

.content_modal {
  position: fixed;
  width: $fullWidth - $navbarWidth * 3;
  height: 500px;
  top: $headerHeight + $headerHeight * 3;
  left: $navbarWidth * 2;
  z-index: 1;
  background-color: rgba(white, 0.6);
  border-radius: $borderRadius * 3;
  padding: $padding * 3;
  @include flexSetup(flex-start, flex-start, column);
}
