table {
  width: 100%;
  border-collapse: collapse;
  user-select: none;
}

thead th {
  position: sticky;
  top: 0;
  text-align: center;
  cursor: pointer;
  height: 60px;
}

// tbody tr:nth-child(even) {
//   background-color: #f7cfcf;
//   &:hover {
//     background-color: #eee;
//   }
// }
