.content_modal {
  border: 1px solid black;
  > div {
    @include flexSetup(left, flex-start, row);
    width: $fullWidth;
  }
  label {
    min-width: 80px;
    text-align: left;
    font-weight: bold;
  }

  > div:last-child {
    @include flexSetup(flex-end, center, row);
    padding: $padding;
  }
}

#message_div {
  height: 400px;
  width: inherit;
  bottom: 0;
  overflow-x: hidden;
  overflow-y: auto;
  border: 1px solid grey;
  padding: $padding * 2;
}
