.content_modal {
  border: 1px solid black;
  > div {
    @include flexSetup(left, flex-start, row);
    width: $fullWidth;
    text-align: left;
  }
  label {
    min-width: 80px;
    text-align: left;
    font-weight: bold;
  }

  > div:last-child {
    @include flexSetup(flex-end, center, row);
    padding-top: $padding * 2;
  }

  a {
    color: blue;
    &:hover {
      background: none;
    }
  }
}

#message_div {
  height: 70vh;
  width: inherit;
  bottom: 0;
  overflow-x: auto;
  overflow-y: auto;
  border: 1px solid grey;
  padding: $padding * 2;

  div {
    all: initial;
  }

  a {
    all: initial;
    cursor: pointer;
  }
}
