#footerContainer {
  @include flexSetup(space-evenly, center, row);
  height: 6%;
  background-color: color(emailTableRowBackground);
  padding: 0 $padding * 3 0 $padding * 3;
}

.footerFull {
}

.footerEmail {
  margin-left: 10.1%;
}
