#headerContainer {
  @include fixedPositionSetup(0, 0, $fullWidth, $headerHeight);
  @include flexSetup(flex-end);

  a {
    background-color: rgba(192, 182, 182, 0.5);
    &:hover {
      color: color(anchorHover);
      text-shadow: -0.5px 0.5px 0 #0000;
      background-color: color(anchorBackgroundHover);
    }
  }

  div {
    background-color: rgba(241, 238, 238, 0.3);
    height: $fullHeight;
    min-width: 200px;
    @include flexSetup(center, center);
    flex-shrink: 0;
  }

  span {
    height: 100%;
    @include flexSetup(center, center);
    color: color(anchorBasic);
    padding: $padding;
    font-weight: bold;
  }

  span:first-of-type {
    color: black;
  }

  span:nth-of-type(2) {
    color: white;
  }
}
