#headerContainer {
  @include fixedPositionSetup(0, 0, $fullWidth, $headerHeight);
  @include flexSetup(flex-end);

  a {
    padding: 0 1% 0 1%;
  }

  div {
    padding: 0 2% 0 0;
  }

  span {
    color: color(anchorBasic);
  }
}
