#main_content_container {
  @include fixedPositionSetup(0%, $headerHeight, $fullWidth, $notFullHeight);
  overflow: auto;
  &::-webkit-scrollbar {
    width: $scrollbarWidth;
  }
  &::-webkit-scrollbar-track {
    background-color: color(white);
  }
  &::-webkit-scrollbar-thumb {
    background-color: color(scrollbarThumb);
    border-radius: $borderRadius;
  }
}
