#navbar_container_open {
  @include flexSetup(left, center, column);
  @include fixedPositionSetup(0, $headerHeight, $navbarWidth, $notFullHeight);
  min-height: 89%;
  background-color: color(emailTableRowBackground);
  // opacity: 0.7;
  z-index: 999;
  // border: 1px solid black;
  border-radius: 0 $borderRadius * 3 0 0;
  @media screen and (max-width: 1520px) {
    font-size: 0.95em;
  }
  @media screen and (max-width: 1400px) {
    font-size: 0.9em;
  }
  @media screen and (max-width: 1300px) {
    font-size: 0.85em;
  }
  @media screen and (max-width: 1200px) {
    font-size: 0.8em;
  }
  @media screen and (max-width: 1100px) {
    font-size: 0.75em;
  }
  @media screen and (max-width: 1000px) {
    font-size: 0.7em;
  }

  a {
    padding: 5% 0 0 0;
  }

  @include desktop {
    flex-direction: column; //purely for testing
  }

  div:first-child {
    width: $fullWidth;
    height: $emailPageHeaderHeights;
    @include flexSetup(center, center, column);
    font-weight: bold;
    color: color(emailTableThFontColor);
    background-color: color(emailTableThBackground);
    border-radius: 0 $borderRadius * 3 0 0;
    opacity: 1;
  }

  div:not(:first-of-type) {
    @include flexSetup(flex-start, center, column);
    padding: $padding;
    button {
      background-color: white;
      border-radius: $borderRadius;
      padding: $padding;
      min-width: $navbarButtonWidth;
      font-weight: bold;
      margin: $padding;
    }
  }
}

// #navbar_container_close {
//   @include fixedPositionSetup(0, 6%, 0, 94%);
// }
